<div class="container get-start">
  <div class="row">
    <div class="col s12 m12 l12">
      <h5>Good job!</h5>
      <p>Sync in progress. You can synchronize another service or just go to your collection.</p>
    </div>

    <div class="col s12 m3 l3 service">
      <div class="card soundcloud">
        <div class="card-content white-text">
          <span class="card-title">Soundcloud</span>
          <p>
            <% if @user.sync_sc? %>
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw service_sync"></i>
            <% else %>
                <%= image_tag '/images/social/soundcloud.png' %>
            <% end %>
          </p>
        </div>
        <div class="card-action">
          <% if @user.sync_sc? %>
              <span class="btn disabled">in progress</span>
          <% else %>
              <%= link_to 'Sync', connections_soundcloud_path, class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col s12 m3 l3 service">
      <div class="card mixcloud">
        <div class="card-content white-text">
          <span class="card-title">Mixcloud</span>
          <p>
            <% if @user.sync_mc? %>
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw service_sync"></i>
            <% else %>
                <%= image_tag '/images/social/mixcloud.png' %>
            <% end %>
          </p>
        </div>
        <div class="card-action">
          <% if @user.sync_mc? %>
              <span class="btn disabled">in progress</span>
          <% else %>
              <%= link_to 'Sync', connections_mixcloud_path, class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col s12 m3 l3 service">
      <div class="card vk">
        <div class="card-content white-text">
          <span class="card-title">Vk</span>
          <p>
            <% if @user.sync_vk? %>
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw service_sync"></i>
            <% else %>
                <%= image_tag '/images/social/vkontakte.png' %>
            <% end %>
          </p>
        </div>
        <div class="card-action">
          <% if @user.sync_vk? %>
              <span class="btn disabled">in progress</span>
          <% else %>
              <%= link_to 'Sync', connections_vk_path, class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col s12 m3 l3 service">
      <div class="card mcloud">
        <div class="card-content white-text">
          <span class="card-title">Your collection</span>
          <p>
            <%= image_tag '/images/logo.png' %>
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Explore', player_path, class: 'btn' %>
        </div>
      </div>
    </div>

  </div>
</div>