<div class="container get-start">
  <div class="row">
    <div class="col s12 m12 l12">
      <h5>Okay, get start!</h5>
      <p>Select service for synchronization with your collection:</p>
    </div>

    <div class="col s12 m4 l4 service">
      <div class="card soundcloud">
        <div class="card-content white-text">
          <span class="card-title">Soundcloud</span>
          <p>
            <%= image_tag '/images/social/soundcloud.png' %>
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Sync', connections_soundcloud_path, class: 'btn' %>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4 service">
      <div class="card mixcloud">
        <div class="card-content white-text">
          <span class="card-title">Mixcloud</span>
          <p>
            <%= image_tag '/images/social/mixcloud.png' %>
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Sync', connections_mixcloud_path, class: 'btn' %>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4 service">
      <div class="card vk">
        <div class="card-content white-text">
          <span class="card-title">Vk</span>
          <p>
            <%= image_tag '/images/social/vkontakte.png' %>
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Sync', connections_vk_path, class: 'btn' %>
        </div>
      </div>
    </div>

  </div>
</div>
