<h1>Profile</h1>

<%= @user.soundcloud_name %><br />
<%= @user.soundcloud_id %><br />
<%= image_tag @user.soundcloud_userpic, alt: @user.soundcloud_name %><br />

<% @collection.each_with_index do |col, index| %>
  <%= index %> <%= col.id %>, <%= col.kind %>
<% end %>


<h3>All:</h3>
<%# raw ap(@collection) %>

<h3>Playlists:</h3>
<%= raw ap(@playlists) %>


<h3>Likes</h3>
<% @sc_favs.collection.each_with_index do |song, index| %>
<div>

  <%# image_tag song.artwork_url %>
  <%= index + 1 %>:
  <%= link_to song.user.username, song.user.permalink_url, target: '_blank' %> -
  <%= link_to song.title, song.permalink_url, target: '_blank' %>
</div>
<% end %>


<b><%= @sc_favs.next_href %></b>

<h3>Likes</h3>
<%# raw ap(@sc_favs) %>
