<footer class="page-footer purple-mcloud">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">mCloud.live</h5>
        <p class="grey-text text-lighten-4">mCloud.live - Your music collection</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to 'About', about_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Give Feedback', '#ur', class: 'grey-text text-lighten-3 ur' %></li>
            <%=
              if user_signed_in?
                link_to 'logout', destroy_user_session_path, method: 'delete', class: 'grey-text text-lighten-3'
              else
                link_to 'Login', new_user_session_path, class: 'grey-text text-lighten-3'
              end
            %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 mCloud.live
      <a class="grey-text text-lighten-4 right" href="http://ampersand.pro" target="_blank">(&) ampersand production</a>
    </div>
  </div>
</footer>
<%= render partial: 'shared/ur' %>
<%= render partial: 'shared/metrika' %>
