<header>
  <nav class="purple-mcloud">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <div class="nav-wrapper">
            <%= link_to 'mCloud.live', root_path, class: 'brand-logo' %>
            <ul id="nav-mobile" class="right">
              <li><%= link_to ('<span class="fa fa-info">').html_safe, about_path %></li>
              <li><%= link_to ('<span class="fa fa-comments-o"></span>').html_safe, '#ur', class: 'ur' %></li>
              <li>
                <%=
                  if user_signed_in?
                    link_to ('<span class="fa fa-sign-out">').html_safe, destroy_user_session_path, method: 'delete'
                  else
                    link_to ('<span class="fa fa-sign-in">').html_safe, new_user_session_path
                  end
                %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
