<head>
  <title>mCloud.live - Your music collection</title>
  <%= stylesheet_link_tag    'https://use.fontawesome.com/2afe48b318.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/favicon/manifest.json">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#3e3287">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook -->
  <meta property="og:url"           content="http://mcloud.live" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="mCloud.live" />
	<meta property="og:description"   content="Your music collection" />
	<meta property="og:image"         content="/images/social-cover.png" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mCloudLive">
  <meta name="twitter:title" content="mCloud.live">
  <meta name="twitter:description" content="Your music collection">
  <meta name="twitter:creator" content="@creator_username">
  <meta name="twitter:image:src" content="/images/social-cover.png">
  <meta name="twitter:domain" content="mcloud.live">

  <!-- Vk and global -->
  <meta name="title" content="mCloud.live - Your music collection" />
  <meta name="description" content="" />
  <link rel="image_src" href="/images/social-cover.png" />

</head>
