<div class="flash-message">
  <% flash.each do |name, msg| -%>
      <div class="card-panel system-message <%= name %>">
        <span class="white-text"><%= msg %></span>
        <i class="fa fa-times white-text close-this"></i>
      </div>
  <% end -%>
</div>

