<!-- Modal Structure -->
<div id="ur" class="modal modal-fixed-footer">
  <div class="modal-content" id="ur-container">
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ur-close">Close</a>
  </div>
</div>
