<div class="container about">
  <div class="row">

    <div class="col s12 m12 l12">
      <h5>About</h5>
      <div class="p">
        Your online music collection in one place.
      </div>
    </div>

    <div class="col s12 m12 l12">
      <h5>Features</h5>
      <div class="p">
        <ul class="collection">
          <li class="collection-item">Soundcloud likes and groups music</li>
          <li class="collection-item">Mixcloud likes, followings mix and likes</li>
          <li class="collection-item">Vk personal audio</li>
        </ul>
      </div>
    </div>

    <div class="col s12 m12 l12">
      <h5>Screenshots</h5>
      <div class="row">

        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/images/screenshots/0-get-start.png">
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/images/screenshots/1-in-progress.png">
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/images/screenshots/2-folders.png">
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/images/screenshots/3-playlist.png">
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/images/screenshots/4-main.png">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col s12 m12 l12">
      <h5>Contacts</h5>
      <div class="p">
        <%= link_to (image_tag '/images/social/facebook.png', alt: 'Facebook'), 'https://www.facebook.com/mcloud.live/', target: '_blank', class: 'social' %>
        <%= link_to (image_tag '/images/social/twitter.png', alt: 'Twitter'), 'https://twitter.com/mCloudLive', target: '_blank', class: 'social' %>
        <%= link_to (image_tag '/images/social/vkontakte.png', alt: 'Vk'), 'https://vk.com/mcloud.live', target: '_blank', class: 'social' %>
        <%= link_to (image_tag '/images/social/mail.png', alt: 'Email'), 'mailto:info@mcloud.live', class: 'social' %>
      </div>
    </div>

  </div>
</div>
