<div class="slide">
  <div class="container">
    <div class="logo">
      <div class="services">
        <%= image_tag '/images/social/soundcloud.png', alt: '', class: 'icon sc' %>
        <%= image_tag '/images/social/mixcloud.png', alt: '', class: 'icon mc' %>
        <%= image_tag '/images/social/vkontakte.png', alt: '', class: 'icon vk' %>
      </div>
    </div>
    <div class="text">
      <h4>
        <span>mCloud.live - Your music collection</span>
        <span>in one place.</span>
      </h4>
      <%= link_to 'Get started', new_user_session_path, class: 'waves-effect waves-light btn' %>
      <%= link_to 'learn more', about_path, class: 'waves-effect waves-light btn' %>
    </div>
  </div>
</div>