// imports

html {

  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

  body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;

    #app {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  .turbolinks-progress-bar {
    background: #64bcab !important;
  }

  //notices
  .flash-message {

    position: absolute;
    width: 250px;
    top: 75px;
    right: 45px;
    opacity: .7;

    .system-message {

      margin-bottom: 5px;
      position: relative;
      top: 25px;
      opacity: 0;
      transition: opacity .5s ease-in, top .5s ease-in;

      &.notice {
        background: #4caf50;
      }
      &.warning, &.alert {
        background: #f44336;
      }

      .close-this {
        position: absolute;
        top: 5px; right: 5px;
        cursor: pointer;
      }
    }
  }

  $error-color: #F44336;
  $hint-color: #2196f3;

  .field_with_errors {
    input[type=text] {
      border-bottom: 1px solid $error-color;
      box-shadow: 0 1px 0 0 $error-color;
    }

    textarea {
      border-bottom: 1px solid $error-color;
      box-shadow: 0 1px 0 0 $error-color;
    }

    span {
      position: relative;
      top: -15px;
      font-size: 0.8rem;
      padding-right: 5px;

      &.error {color: $error-color;}
      &.hint {color: $hint-color;}

    }
  }

  footer.page-footer {
    margin-top: 0 !important;
  }

  #ur {

    background: #fff;

    .modal-content {
      padding: 0;
      overflow-y: hidden;
    }

    iframe {
      box-sizing: border-box;
      width: 100%;
      height: 99%;
      border: none;

    }

  }

}