// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$select_color: rgba(39, 174, 96, 1); // #27ae60
$select_color_t : rgba(39, 174, 96, 0);

.playerHeader, .mainPlayer, .webix_layout_toolbar.webix_toolbar {
  background: #5b48a2 !important;
}

.webix_slider_right {background: #3e3287 !important;}
.webix_slider_left {background: #fff !important;}

.player_logo {
  padding: 0;
  background: none;
  border: none;

  .webix_template {
    padding: 2px 5px;

    img {
      width: 40px;
      height: 40px;

      box-sizing: border-box;
      border-radius: 20px;

      -webkit-box-shadow: 0 0 3px 1px rgba(62,50,135,1);
      -moz-box-shadow: 0 0 3px 1px rgba(62,50,135,1);
      box-shadow: 0 0 3px 1px rgba(62,50,135,1);

    }

  }

}
.player_version {
  padding: 0;
  background: none;
  border: none;

  .webix_template {
    padding: 0;
    color: rgba(255,255,255,.5);
    font-size: 12px;

    span {
      position: relative;
      top: 30px;
    }

  }

}

.webix_view[view_id="trackModal"] {

  transition: top .3s ease-out;

}

.one_track {

  position: relative;
  line-height: 1.1;

  .artwork {

    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;

    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
  }

  // Icon
  .fa {

    position: absolute;
    font-size: 24px;
    margin-top: -24px;


    &.fa-soundcloud {color: #ff5500;}
    &.fa-mixcloud {color: #25292b;}
    &.fa-vk {color: #4c75a3;}

  }

  .artist {
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
  }
  .title {
    padding-bottom: 5px;
  }
  .duration {

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    box-sizing: border-box;
    padding: 10px 5px 5px 0;

    font-size: 12px;
    text-align: right;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25&0+0,1+25 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }

}
.webix_dataview_item.webix_selected {
  .fa {color: #fff;}

  .duration {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#27ae60+0,27ae60+100&0+0,1+25,1+25 */
    background: -moz-linear-gradient(top, $select_color_t 0%, $select_color 25%, $select_color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $select_color_t 0%, $select_color 25%, $select_color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $select_color_t 0%, $select_color 25%, $select_color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0027ae60', endColorstr='#27ae60',GradientType=0 ); /* IE6-9 */

  }
}

.webix_dtable {

  .webix_column {

    &.source {

      .webix_cell {
        padding: 0 !important;
        text-align: center;
      }

      .fa {

        &.fa-soundcloud {color: #ff5500;}
        &.fa-mixcloud {color: #25292b;}
        &.fa-vk {color: #4c75a3;}

      }

    }

    &.track {

      .artist {font-weight: bold;}

    }

    .webix_row_select {

      .fa {color: #fff !important;}

    }

  }

}

.webix_column.webix_first {

  .current_play {
    //display: inline-block;
    font: normal normal normal 0px/1 FontAwesome;
    font-size: 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  .current_play:before {

    content: "\f101";
    font-size: 14px;
    color: #fff;

  }

}

.webix_cell.current_play  {
  background: $select_color;
  color: #fff;
  font-weight: 700;

}



.mainPlayer {

  .webix_slider_title {
    height: 18px;
  }

}