// Header

header {

  .nav-wrapper {

    a {font-size: 24px;}

  }

}



.slide {

  width: 100%;
  height: 100vh;
  background: url("/images/login.jpg") 100% 50% no-repeat;
  background-size: cover;

  .container {

    position: relative;
    height: inherit;

    color: #fff;

  }

  .logo {

    width: 256px;
    height: 256px;
    background: url("/images/logo.png") 50% 50% no-repeat;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-128px);

    .services {

      position: relative;
      width: 256px;
      height: 256px;

      animation: logoSpin 36s linear infinite;

      .icon {
        width: 64px;
        height: 64px;
        position: absolute;

        animation: serviceSpin 36s linear infinite;

        &.sc {
          margin: -32px 0 0 -32px;
          left: 50%;
          top: 0;
        }
        &.mc {
          margin: -32px -16px 0 0;
          right: 0;
          top: 75%;
        }
        &.vk {
          margin: -32px 0 0 -16px;
          left: 0;
          top: 75%;
        }

      }

    }

  }

  .text {

    padding-left: 320px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    box-sizing: border-box;
    max-width: 950px;

    h4 {
      margin: 0 0 25px 0;

      span {
        background-color: #5b48a2;
        display: inline-block;
        clear: both;
        padding: 5px 10px 5px 10px;
      }
    }

    .btn {
      margin-right: 25px;
      background-color: #64bcab;

      &:hover {
        background-color: #82d9c8;
      }

    }

  }

}

// Animation
@keyframes logoSpin {
  from  {transform: rotate(0deg);}
  to    {transform: rotate(360deg);}
}
@keyframes serviceSpin {
  from  {transform: rotate(0deg);}
  to    {transform: rotate(-360deg);}
}

// Get Start

.get-start {

  .service {

    text-align: center;

    .card {min-height: 300px;}
    .card-content {min-height: 222px;}
    .fa.service_sync {
      font-size: 64px;
      margin-top: 32px;
    }

    .soundcloud {background: #fe3801;}
    .mixcloud {background: #000000;}
    .vk {background: #5a7fa6;}

    .mcloud {
      background: #3e3287;

      img {width: 128px; height: 128px}

    }

    .card-action {
      border-top: 1px solid #fff;

      .btn {
        width: 100%;
        background-color: #64bcab;

        &:hover {background-color: #82d9c8;}
      }

    }

  }

}

.container.about {

  h5 {padding-bottom: 25px;}

  .p {padding-bottom: 35px;}

  .social {
    margin-right: 25px;
  }

}