<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
<body>
  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/notices' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</body>
</html>
