<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
<body>

    <%= render partial: 'shared/header' %>

    <section class="login-registration">

        <div class="container">
          <div class="row">
            <div class="col s5 m5 l5">
              <%= render partial: 'shared/notices' %>
              <%= yield %>
            </div>
          </div>
        </div>

    </section>

    <%= render partial: 'shared/footer' %>

</body>
</html>
