<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%# stylesheet_link_tag    'https://use.fontawesome.com/2afe48b318.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application-player', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application-player', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render partial: 'shared/metrika' %>
</body>
</html>
